.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: black;
}

.header a {
  color: #fff;
  text-decoration: none;
  background-color: crimson;
  padding: 5px 12px;
  border-radius: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  padding: 25px;
  height: 100%;
}